<%= content_for :actions do %>
  <li><%= link_to 'Show', trip_path(@trip.id) %></li>
  <li><%= link_to 'Delete', trip_path(@trip.id), method: :delete, data: { confirm: 'Are you sure?' } %></li>
  <li><%= link_to 'Back', trips_path %></li>
<% end %>

<h1>Editing trip</h1>

<%= render 'form' %>
