<%= content_for :actions do %>
  <li><%= link_to 'New Trip', new_trip_path %></li>
<% end %>

<div class="container-fluid">

  <div class="row">
    <h1>Listing trips</h1>
  </div>

  <% @trips.each do |trip| %>
     <div class="row">
      <div class="col-md-12 jumbotron" data-background="<%= trip.banner_image %>">
        <div class="container">
          <span><%= link_to 'Edit', edit_trip_path(trip) %></span>
          <h1><%= link_to trip.name, trip %></h1>
          <p> (<%= trip.start_date.to_date %> - <%= trip.end_date.to_date %>)</p>
        </div>
      </div>
    </div>
  <% end %>
</div>
