<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @trip.name %>
</p>

<p>
  <strong>Days:</strong>
  <% @trip.days.each do |day| %>
    <br/><%= link_to day.name, trip_day_path(@trip, day) %> <%= day.cost.format %>
  <% end %>
</p>

<p>
  <strong>Total:</strong>
  <%= @trip.total.format %>
</p>

<%= link_to 'Add Day', new_trip_day_path(@trip) %> |
<%= link_to 'Edit', edit_trip_path(@trip) %> |
<%= link_to 'Back', trips_path %>
