<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @trip.name %>
</p>

<p>
  (<%= @trip.start_date %> - <%= @trip.end_date %>)
</p>

<p>
  <strong>Areas:</strong>
  <% @trip.areas.each do |area| %>
    <br/><%= link_to area.name, trip_area_path(@trip, area) %> <%= area.total.format %>
  <% end %>
</p>

<p>
  <strong>Total:</strong>
  <%= @trip.total.format %>
</p>

<%= link_to 'Add Area', new_trip_area_path(@trip) %> |
<%= link_to 'Edit', edit_trip_path(@trip) %> |
<%= link_to 'Back', trips_path %>

<div id='calendar'></div>
