<%= content_for :actions do %>
  <li><%= link_to 'Share Trip', trip_trip_rights_path(@trip) %></li>
  <li><%= link_to 'Add Area', new_trip_area_path(@trip) %></li>
  <li><%= link_to 'Edit', edit_trip_path(@trip) %></li>
  <li><%= link_to 'Back', trips_path %></li>
<% end %>


<div class="row">
  <div class="col-md-3">
    <div>
      <div class="text-center">
        <h3>Areas</h3>
      </div>
      <% @trip.areas.each do |area| %>
        <div
            class="area <%= area.proposed_date.present? ? '': 'bg-info' %>"
            data-id="<%= area.id %>"
            data-proposed-date="<%= area.proposed_date %>"
            data-cost="<%= area.total.format %>"
        >
          <%= link_to area.name, trip_area_path(@trip, area) %>
        </div>
      <% end %>
    </div>

    <div>
      <strong>Total:</strong>
      <%= @trip.total.format %>
    </div>
  </div>

  <div class="col-md-9">
    <div id='calendar' data-start-date="<%= @trip.start_date %>"></div>
  </div>
</div>
