<%= form_for(@trip_right) do |f| %>
  <% if @trip_right.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trip_right.errors.count, "error") %> prohibited this trip_right from being saved:</h2>

      <ul>
      <% @trip_right.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :trip_id %><br>
    <%= f.text_field :trip_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :permission %><br>
    <%= f.text_field :permission %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
