<%= content_for :actions do %>
  <li><%= link_to 'Show', trip_trip_rights_path(@trip.id, @trip_right.id) %></li>
  <li><%= link_to 'Delete', trip_trip_right_path(@trip.id, @trip_right.id), method: :delete, data: { confirm: 'Are you sure?' } %></li>
  <li><%= link_to 'Back', trip_trip_rights_path %></li>
<% end %>
<h1>Editing permission</h1>

<%= render 'form' %>

