<h1>Listing trip_rights</h1>

<table>
  <thead>
    <tr>
      <th>Trip</th>
      <th>User</th>
      <th>Permission</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trip_rights.each do |trip_right| %>
      <tr>
        <td><%= trip_right.trip_name %></td>
        <td><%= trip_right.user_email %></td>
        <td><%= trip_right.permission %></td>
        <td><%= link_to 'Show', trip_right.view_path %></td>
        <td><%= link_to 'Edit', trip_right.edit_path %></td>
        <td><%= link_to 'Destroy', trip_right.view_path, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trip right', new_trip_right_path %>
