<%= content_for :actions do %>
  <li><%= link_to 'New permission', new_trip_trip_right_path %></li>
  <li><%= link_to 'Back', trip_path(@trip.id) %></li>
<% end %>

<h1>Listing permissions</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>User</th>
      <th>Permission</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @trip_rights.each do |trip_right| %>
      <tr>
        <td class="clickable-cell" data-url="<%= trip_right.view_path %>"><%= link_to trip_right.user_email, trip_right.view_path %></td>
        <td class="clickable-cell" data-url="<%= trip_right.view_path %>"><%= link_to trip_right.permission, trip_right.view_path %></td>
        <td><%= link_to 'Edit', trip_right.edit_path %></td>
        <td><%= link_to 'Destroy', trip_right.view_path, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


