<%= content_for :actions do %>
  <li><%= link_to 'Edit', edit_trip_trip_right_path(@trip, @trip_right) %></li>
  <li><%= link_to 'Back', trip_trip_rights_path(@trip) %></li>
<% end %>

<p>
  <strong>Trip Id:</strong>
  <%= @trip_right.trip_id %>
</p>

<p>
  <strong>User Id:</strong>
  <%= @trip_right.user_id %>
</p>

<p>
  <strong>Permission:</strong>
  <%= @trip_right.permission %>
</p>

<%= link_to 'Edit', edit_trip_trip_right_path(@trip, @trip_right) %> |
<%= link_to 'Back', trip_trip_rights_path(@trip) %>
