<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @area.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @area.description %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @area.cost %>
</p>

<p>
  <strong>Image:</strong>
  <%= @area.image %>
</p>

<p>
  <strong>Link:</strong>
  <%= @area.link %>
</p>

<%= link_to 'Edit', edit_trip_area_path(@trip, @area) %> |
<%= link_to 'Back', trip_path(@trip) %>
