<div class="container-fluid">
  <%= render 'common/header' %>

  <% if notice.present? %>
    <div class="row">
      <p id="notice" class="bg-info"><%= notice %></p>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-12 text-center">
      <h3><%= @area.name %></h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <blockquote class="text-left">
        <p>
          <%= @area.description %>
        </p>

        <footer>
          <strong>Total:</strong>
          <%= @area.total.format %>
        </footer>
      </blockquote>

      <p>
        <strong>Image:</strong>
        <%= @area.image %>
      </p>

      <p>
        <strong>Link:</strong>
        <%= @area.link %>
      </p>
    </div>
  </div>

  <div class="row">
    <% 3.times do %>
      <% @area.attractions.each do |attraction| %>
        <div class="col-xs-4 col-md-4">
          <div class="thumbnail">
            <img src="<%= attraction.image %>">
            <div class="caption">
              <h3><%= attraction.name %></h3>
              <p><%= attraction.description %></p>
              <p><%= attraction.cost.format %></p>
              <p>
                <%= link_to attraction.name, trip_area_attraction_path(@trip, @area, attraction), role: 'button', class: 'btn btn-default'%>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= link_to 'Add Attraction', new_trip_area_attraction_path(@trip, @area) %> |
      <%= link_to 'Edit', edit_trip_area_path(@trip, @area) %> |
      <%= link_to 'Back', trip_path(@trip) %>
    </div>
  </div>
</div>

<footer class="pagefooter">© <a href="https://twitter.com/asellitt">@asellitt</a></footer>
