<div class="container-fluid">
  <%= render 'common/header' %>

  <% if notice.present? %>
    <div class="row">
      <p id="notice" class="bg-info"><%= notice %></p>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-12">
      <p>
        <strong>Name:</strong>
        <%= @area.name %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= @area.description %>
      </p>

      <p>
        <strong>Total:</strong>
        <%= @area.total.format %>
      </p>

      <p>
        <strong>Image:</strong>
        <%= @area.image %>
      </p>

      <p>
        <strong>Link:</strong>
        <%= @area.link %>
      </p>
    </div>
  </div>

  <div class="row">
    <% @area.attractions.each do |attraction| %>
      <div class="col-xs-4 col-md-4">
        <div class="thumbnail">
          <img src="<%= attraction.image %>">
          <div class="caption">
            <h3><%= attraction.name %></h3>
            <p><%= attraction.description %></p>
            <p><%= attraction.cost.format %></p>
            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
          </div>
        </div>
      </div>
    <% end %>
    <% @area.attractions.each do |attraction| %>
      <div class="col-xs-4 col-md-4">
        <div class="thumbnail">
          <img src="<%= attraction.image %>">
          <div class="caption">
            <h3><%= attraction.name %></h3>
            <p><%= attraction.description %></p>
            <p><%= attraction.cost.format %></p>
            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
          </div>
        </div>
      </div>
    <% end %>
    <% @area.attractions.each do |attraction| %>
      <div class="col-xs-4 col-md-4">
        <div class="thumbnail">
          <img src="<%= attraction.image %>">
          <div class="caption">
            <h3><%= attraction.name %></h3>
            <p><%= attraction.description %></p>
            <p><%= attraction.cost.format %></p>
            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= link_to 'Add Attraction', new_trip_area_attraction_path(@trip, @area) %> |
      <%= link_to 'Edit', edit_trip_area_path(@trip, @area) %> |
      <%= link_to 'Back', trip_path(@trip) %>
    </div>
  </div>
</div>
