<div class="container-fluid">
  <%= render 'common/header' %>

  <% if notice.present? %>
    <div class="row">
      <p id="notice" class="bg-info"><%= notice %></p>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-12 text-center">
      <h3><%= @area.name %></h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= image_tag @area.image, class: 'area-image' %>
    </div>
    <div class="col-md-6">
      <blockquote class="text-left">
        <p>
          <%= @area.description %> (see: <%= link_to 'here', @area.link %>)
        </p>

        <footer>
          <strong>Total:</strong>
          <%= @area.total.format %>
        </footer>
      </blockquote>
    </div>
  </div>

  <% @area.attractions.in_groups_of(3, false) do |group| %>
    <div class="row">
      <% group.each do |attraction| %>
        <div class="col-xs-4 col-md-4">
          <div class="thumbnail">
            <div class="attraction-image" data-background="<%= attraction.image %>"></div>
            <div class="caption">
              <h3>
                <%= link_to attraction.name, trip_area_attraction_path(@trip, @area, attraction) %>
              </h3>
              <p><%= attraction.description %></p>
              <p><%= attraction.cost.format %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-12">
      <%= link_to 'Add Attraction', new_trip_area_attraction_path(@trip, @area) %> |
      <%= link_to 'Edit', edit_trip_area_path(@trip, @area) %> |
      <%= link_to 'Back', trip_path(@trip) %>
    </div>
  </div>
</div>

<footer class="pagefooter">© <a href="https://twitter.com/asellitt">@asellitt</a></footer>
