<%= content_for :actions do %>
  <li><%= link_to 'Add Attraction', new_trip_area_attraction_path(@trip, @area) %></li>
  <li><%= link_to 'Edit', edit_trip_area_path(@trip, @area) %></li>
  <li><%= link_to 'Back', trip_path(@trip) %></li>
<% end %>

<div class="row">
  <div class="col-md-12 text-center">
    <h3><%= @presenter.name %> <small><%= @presenter.proposed_date %></small></h3>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="row thumbnail area-thumbnail">
      <div class="col-md-6">
        <%= image_tag @presenter.image, class: 'area-image' %>
      </div>
      <div class="col-md-6">
        <blockquote class="text-left">
          <p>
            <%= @presenter.description %>
          </p>

          <footer>
            <strong>Total:</strong>
            <%= @presenter.total %>
          </footer>
        </blockquote>
      </div>
    </div>
  </div>
</div>

<% @presenter.attractions.in_groups_of(3, false) do |group| %>
  <div class="row">
    <% group.each do |attraction| %>
      <div class="col-xs-4 col-md-4">
        <%= render 'attractions/attraction', attraction: attraction %>
      </div>
    <% end %>
  </div>
<% end %>
