<%= form_for([@trip, @area, @attraction], html: { class: 'form-horizontal' } ) do |f| %>
  <% if @attraction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attraction.errors.count, "error") %> prohibited this attraction from being saved:</h2>

      <ul>
      <% @attraction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group field">
    <%= f.label :name, class: 'control-label col-sm-2' %>
    <div class="col-sm-10">
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group field">
    <%= f.label :description, class: 'control-label col-sm-2' %>
    <div class="col-sm-10">
      <%= f.text_area :description, class: 'form-control', rows: 10 %>
    </div>
  </div>

  <div class="form-group field">
    <%= f.label :cost, class: 'control-label col-sm-2' %>
    <div class="col-sm-10">
      <%= f.number_field :cost,
            value: number_with_precision(@attraction.cost, precision: 2),
            step: 'any',
            class: 'form-control'
      %>
    </div>
  </div>

  <div class="form-group field">
    <%= f.label :image, class: 'control-label col-sm-2' %>
    <div class="col-sm-10">
      <%= f.text_field :image, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group field">
    <%= f.label :link, class: 'control-label col-sm-2' %>
    <div class="col-sm-10">
      <%= f.text_field :link, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group actions">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: 'btn btn-default' %>
    </div>
  </div>

<% end %>
