<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @attraction.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @attraction.description %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @attraction.cost %>
</p>

<p>
  <strong>Image:</strong>
  <%= @attraction.image %>
</p>

<p>
  <strong>Link:</strong>
  <%= @attraction.link %>
</p>

<%= link_to 'Edit', edit_trip_area_attraction_path(@trip, @area, @attraction) %> |
<%= link_to 'Back', trip_area_path(@trip, @area) %>
